@import 'jeet/stylus/jeet';
@import 'axis/axis';

@import './_variables';
@import './_components';
@import './_views';

establish-baseline('normalize');

framework()
flash-notices()
fields("left")

label
  $label: inline

aside
  area()
  col(1/4)

article
  area()
  col(3/4)
