body
  font 1rem Helvetica, Arial, sans-serif
  background: lightgoldenrodyellow
  background-image url(images/hobbes.jpeg)
  background-repeat no-repeat
  background-position right top

h1
  font 3rem Helvetica, Arial, sans-serif
  color dodgerblue
