@import '~jeet/stylus/jeet/index.styl';
@import '~axis-css/axis/index.styl';

establish-baseline('normalize');

body
  font 1rem Helvetica, Arial, sans-serif
  background: lightgoldenrodyellow
  background-image url(images/hobbes.jpeg)
  background-repeat no-repeat
  background-position right top

h1
  font 3rem Helvetica, Arial, sans-serif
  color dodgerblue

edit()
debug()

section
 cf()
aside
 col(1/3)
article
 col(2/3)
